
  @import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }
  h1{
    text-align: center;
    font-family: 'Honk', system-ui;

  }
  form{
    align-items: center;
     display: flex;
     justify-content: center;
     margin-top: 50px;
  }
.single{
    
   display:flex;
   flex-direction: column;
   align-items: center;
   padding-top: 50px;
  

    

}
.single img{
    width: 100px;
    
}
#showmore{
    display: none;
}
